
<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;"><script type="text/javascript" src="//counter.websiteout.net/js/24/0/0/0"></script> Hits</p>

<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;">© 2016–{{ site.time | date: '%Y' }} Eli&nbsp;Loren</p>

<p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;"><a href="#top"><span uk-icon="icon: arrow-up"></span>&nbsp;Back to Top</a></p>

