<div uk-lightbox="animation: slide" class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@s uk-child-width-1-5@m uk-text-center" uk-grid="masonry: true">

	{% for post in site.posts %}
<div class="post {{ post.date | date: '%Y' }}">
     <a href="{{ site.url }}/art/img/{{ post.img }}" data-caption="{{ post.title }} | {{ post.date | date: '%B %Y' }} | {{ post.excerpt }}">
	     <img src="{{ site.url }}/art/img/{{ post.img }}" alt="{{ post.title }} by Eli Loren">
	</a>
	
	<form action="{{ site.url }}/art{{ post.url }}">
              <button type="submit" class="comment" title="Leave a comment" style="margin-right:10px;"><span uk-icon="icon: commenting"></span></button>
            </form>
	
	<a href="{{ site.url }}/art/img/{{ post.img }}" class="link" title="Enlarge image" data-caption="{{ post.title }} | {{ post.date | date: '%B %Y' }} | {{ post.excerpt }}">
	     <span uk-icon="icon: expand"></span>
	</a>
</div>

    {% endfor %}
	
</div>
