<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GZRQRE93CG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GZRQRE93CG');
</script>

        
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="image" property="og:image" content="https://eliloren.github.io/sitewideimg.png">
    <meta name="description" property="og:description" content="{{ site.description }}">
    <meta name="title" property="og:title" content="{{ site.title }}">
    <meta name="keywords" content="pastelhex">
    <meta name="author" content="{{ site.author_name }}">
    <meta name="twitter" content="{{ site.username }}"> 
    <meta name="github" content="{{ site.username }}">
    <meta property="og:type" content="website"> 
    <meta property="og:url" content="https://eliloren.github.io"> 

    {{ page.meta }}
  
    <title>{{ site.title }} {{ page.title }}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href="/cssreset.css" rel="stylesheet">   
    <link href="/index.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon }}">

    <script src="https://kit.fontawesome.com/56182aba27.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="rainbow">
	<div style="height:1px;width:100%;background:#d10000;"></div>
	<div style="height:1px;width:100%;background:#ff6622"></div>
	<div style="height:1px;width:100%;background:#ffda21"></div>
	<div style="height:1px;width:100%;background:#33dd00"></div>
	<div style="height:1px;width:100%;background:#1133cc"></div>
	<div style="height:1px;width:100%;background:#220066"></div>
	<div style="height:1px;width:100%;background:#330044"></div>
</div>

<div class="canvas">
    <div class="links">
        
        
      <a href="/" style="width: 150px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 100%;"><img src="/sitewideimg.png"></a>

    <h1 style="text-transform:uppercase;">Eli Loren</h1>
      
          <div class="divider"></div>
    
    <p style="text-align:center;line-height: 135%;letter-spacing: 0.25em;text-transform: uppercase;">coder, doodler, true crime nerd</p>
      
            <a id="theme-toggle" class="desktop" onclick="modeSwitcher()"></a>
                  
    <a href="https://www.instagram.com/elilorenart" class="link" target="_blank">Art Instagram</a> 
	    	    	    
    <a href="https://myanimelist.net/profile/eliloren" class="link" target="_blank">My Anime List</a>
        
    <a href="https://letterboxd.com/eliloren" class="link" target="_blank">Letterboxd</a>
                        
    <a href="https://goodreads.com/eliloren" class="link" target="_blank">Goodreads</a>
	    
    <a href="https://steamcommunity.com/id/eliloren" class="link" target="_blank">Steam</a>
        
    <a href="https://www.duolingo.com/profile/eliloren" class="link" target="_blank">Duolingo</a>   
      
    <a href="https://open.spotify.com/user/31xezqay72khqaa2awc3cm7rgr2a?si=3d3ff9bb8718489e" class="link" target="_blank">Great Music</a>
	    
	    	                                                                      
        </div>
</div>
    
<script src="/mode-switcher.js"></script>
<script src="/showAboutMe.js"></script>
    
</body>
</html>
